---
---

@import "{{ site.theme }}";

th {
  background: #cd596b;
  color: #ffffff;
}

tr:nth-of-type(even) {
  background: #f8f0e3;
}

#navbar {
  position: absolute;
  top: 90px;
  width: 600px;
  text-align: center;
}

#navbar li {
  display: inline;
  margin-right: 1.5em;
}

#navbar li a {
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  color: #ffffff;
}

dd {
  margin-bottom: 0.5em;
}
